:root {
    --black: #000;
    --gray-100: hsla(0, 0%, 100%, 0.6);
    --gray-200: hsla(0, 0%, 100%, 0.12);
    --gray-300: #38434F;
    --gray-400: #1d2226;
    --white: hsla(0, 0%, 100%, 0.9);
    --text-black: hsla(0, 0%, 0%, 0.75);
    --blue-100: #70b5f9;
    --green-100: #3ec786;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    color: var(--white);
}

body,
textarea,
input,
button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

a {
    color: var(--blue-100);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style: none;
}

.text-gray {
    font-size: 0.875rem;
    color: var(--gray-100);
}

.text-gray-small {
    font-size: 0.75rem;
    color: var(--gray-100);
}

.text-white {
    font-size: 0.875rem;
}

#all-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
}

#profile-content {
    max-width: 48.75rem;
    min-height: 29.375rem;
    background-color: var(--gray-400);
    border-radius: 16px;
    position: relative;
}

#profile-cover {
    height: 14.375rem;
}

#profile-cover img {
    width: 100%;
    height: 14.375rem;
    border-radius: 16px 16px 0 0;
}

#profile-name {
    padding: 3.5rem 1.5rem 1.5rem 1.5rem;
    display: flex;
    gap: 5rem;
}

#infos {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#infos .name {
    font-size: 1.5rem;
    font-weight: 700;
}

#infos .stack {
    font-weight: 700;
}

#profile-image {
    position: absolute;
    top: 7.8125rem;
    left: 1.5625rem;
}

#profile-image img {
    width: 10rem;
    height: 10rem;
    border: 4px solid var(--gray-400);
    border-radius: 50%;
}

#profile-buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.btn-message,
.btn-plus {
    width: 8rem;
    height: 2rem;
    border-radius: 16px;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-message {
    border: none;
    background-color: var(--blue-100);
    color: var(--text-black);
}

.btn-plus {
    border: 1px solid var(--blue-100);
    background-color: var(--gray-400);
    color: var(--blue-100);
}

#company-college {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.company,
.college {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.company img,
.college img {
    width: 2rem;
    height: 2rem;
}

#main-header {
    width: 100%;
    height: 52px;
}

#navigation {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: var(--gray-400);
    padding: 5px 0 5px 0;
}

#navigation-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.icons-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons-links img {
    width: 1.5rem;
    height: 1.5rem;
}

.icons-links p {
    font-size: 12px;
    color: #ffffff;
}

#container-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#container-input img {
    width: 2.125rem;
    height: 2.125rem;
}

#search-input {
    position: relative;
}

#search-input input {
    width: 17.5rem;
    height: 2.125rem;
    background-color: var(--gray-300);
    border: none;
    padding: 0 40px;
}

#search-input input::placeholder {
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
}

#icon-search {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 34px;
}

#icon-search img {
    width: 1.4rem;
    height: 1.4rem;
}

.separator {
    height: 100%;
    width: 1px;
    background-color: #ffffff;
}

#highlights {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 16px 22px 16px;
    max-width: 48.75rem;
    min-height: 19.5rem;
    background-color: var(--gray-400);
    border-radius: 16px;
}

.post-highlight {
    width: 238px;
    height: 236px;
    border: 1px solid var(--gray-300);
    border-radius: 5px;
}

.post-highlight img {
    margin-top: .4rem;
    width: 100%;
    height: 152px;
}

#container-highlights {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-highlight {
    font-size: 20px;
    font-weight: 600;
}

.user1,
.user2,
.user3 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
}

.user1 {
    background: #378FE9;
}

.user2 {
    background: #6DAE4F;
}

.user3 {
    background: #DF704D;
}

.highlight-description {
    padding: 8px 8px 5px 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.comments-users {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.comments-users div {
    display: flex;
    flex-direction: row;
}

#activities {
    max-width: 48.75rem;
    min-height: 23.125rem;
    background-color: var(--gray-400);
    border-radius: 16px;
    padding: 10px 22px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.activity-image img {
    height: 64px;
    width: 64px;
}

.activity-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 3px solid var(--gray-300);
}

.activity-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.activity-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn-display-activity .text-gray {
    text-align: center;
}

.activity-container .comments-users {
    padding: 5px;
}

#about,
#experence,
#academic-education,
#languages {
    max-width: 48.75rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px 24px;
    background-color: var(--gray-400);
    border-radius: 16px;
}

.experence-image {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.experence-image img {
    width: 48px;
    height: 48px;
}

.experence-image div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.position {
    display: flex;
    flex-direction: row;
    gap: 9px;
}

.group-circle-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 0 20px;
}

.circle-white {
    display: block;
    width: 10px;
    height: 10px;
    background-color: var(--white);
    border-radius: 50%;
}

.straight-line::before {
    content: '';
    border-left: 3px solid var(--gray-300);
    height: 55px;
    display: inline-block;
}

.box-languages {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.box-languages:nth-child(2) {
    border-bottom: 3px solid var(--gray-300);
}

.box-languages:nth-child(2) .text-gray {
    margin-bottom: 5px;
}